@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin-left: 200px;
  background-color: #f2f2f2;
  color: #333;
  transition: background-color 0.4s, color 0.4s;
}

h2 {
  text-decoration-line: underline;
}

a {
  color: #333;
  transition: all 0.4s ease;
}

.sidebar a {
  text-decoration-line: none;
  color: #333;
}

.li-menu a {
  color: blue;
}

.li-menu {
  margin-left: -20px;
  font-size: 20px;
}

.image img {
  width: 100%;
}

.folders-container {
  display: flex;
  flex-direction: 3 columns;
  align-items: center;
}

.folders {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  box-shadow: 20px 20px 20px rgb(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.folders a {
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.folders a i,
.folders a span {
  width: 100%;
  align-items: center;
}

/*SideBar*/
.sidebar {
  font-family: poppins, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 170px;
  padding: 5px 7px;
  box-shadow: 2px 0 10px rgb(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}

.sidebar li {
    font-size: 20px;
    height: 50px;

    margin-top: 10px;
    margin-left: -30px;
    list-style: none;
    display: flex;
    border-radius: 6px;
    transform: all 0.4s ease;
}

.sidebar .profile img {
  height: 50px;
  width: 50px;
  border-radius: 75%;
}

.sidebar .profile-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -47px;
  margin-left: 35px;
}

.sidebar .profile-text .name {
  text-align: right;
  font-weight: 600;
}

.sidebar .profile-text .fullname {
  margin-left: 20px;
}

.sidebar .menu .bottom-menu {
  margin-top: 80px;
}

.sidebar .menu .bottom-menu .checkbox-text {
  margin-left: -30px;
}

.sidebar.collapsed {
  width: 50px;
  transition: all 0.4s ease;
}

.sidebar.collapsed .profile-text,
.sidebar.collapsed .menu span,
.sidebar.collapsed .checkbox-text {
  display: none;
  transition: all 0.4s ease;
}

.sidebar.collapsed .menu i,
.sidebar.collapsed #collapse {
  margin: 0 auto;
  text-align: center;
}

body.collapsed {
  margin-left: 70px;
}

body.collapsed .label {
  margin-left: -40px;
  transition: all 0.4s ease;
}
/* The Switch */  

.label {
  height: 30px;
  width: 55px;
  margin-top: -23px;
  margin-left: 30px;
  background-color: #ffffff;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
    inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
    inset 0 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
    inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
    inset 0 0 0 3px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

.label:hover {
  -webkit-transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
  transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
}

#checkbox:checked ~ .label:hover {
  -webkit-transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
  transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
}

#checkbox {
  display: none;
}

#checkbox:checked ~ .label::before {
  left: 23px;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 70%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.label::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #000000;
  background-image: linear-gradient(
    130deg,
    #757272 10%,
    #ffffff 11%,
    #726f6f 62%
  );
  left: 10px;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3),
    10px 10px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/*end Switch*/
/*end SideBar*/
/*title for page*/
.title {
  margin-top: -5px;
  margin-left: -5px;
  height: auto;
  width: 100%;
  box-shadow: 2px 10px 10px rgb(0, 0, 0, 0.1);
  transition: all 0.4s ease;
  text-align: center;
}

.title span {
  text-align: center;
  width: 100%;
  font-size: 40px;
  transition: all 0.4s ease;
}

/*end title for page*/
/*note & container*/
.container {
  margin-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: 2column;
  align-items: center;
}

.R {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
}

.L {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 1;
}

.S1 {
  display: flex;
  flex-direction: 2column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.S2 {
  display: flex;
  flex-direction: 2column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(128, 128, 128, 0.2);
}

.keyword {
  font-size: 12px;
  color: green;
  font-style: italic;
  transition: all 0.4s ease;
}

body.dark-mode .keyword {
  color: yellow;
}

.keyword-A {
  color: green;
  transition: all 0.4s ease;
}

.keyword-x {
  color: red;
  transition: all 0.4s ease;
}

body.dark-mode .keyword-x {
  color: pink;
}

body.dark-mode .keyword-A {
  color: yellow;
}

.screen {
  display: flex;
  flex-direction: column;
}

.screen p {
  font-weight: bold;
  text-align: right;
}

.coptic {
  color: brown;
  transition: all 0.4s ease;
}

body.dark-mode .coptic {
  color: darkturquoise;
}
/*end Note & Container*/
/*sound tracks*/
.audio-player {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100px;
  height: 100px;
  text-align: center;
  margin-left: 50%;
}

.btn {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

body.dark-mode .btn {
  background: rgba(0, 0, 0, 0);
}

.progress-container {
  margin-top: 15px;
}

progress {
  width: 100%;
  height: 8px;
  border-radius: 4px;
  appearance: none;
}

body.dark-mode progress::-webkit-progress-bar {
  background: #eee;
  border-radius: 4px;
}

progress::-webkit-progress-bar {
  background: #111;
  border-radius: 4px;
}

progress::-webkit-progress-value {
  background: #4CAF50;
  border-radius: 4px;
}
/*Dark mode styles*/
body.dark-mode {
  background-color: #333;
  color: #f2f2f2;
}

body.dark-mode a {
  color: #f2f2f2;
}

body.dark-mode .li-menu a {
  color: red;
}

body.dark-mode .sidebar a {
  text-decoration-line: none;
  color: #f2f2f2;
}

button.dark-mode {
  background-color: #333;
  color: #f2f2f2;
}

body.dark-mode .label {
  -webkit-box-shadow: inset 0 0 5px 4px rgba(0, 0, 0, 1), inset 0 0 20px 1px rgba(255, 255, 255, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096), inset 0 0 0 3px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 5px 4px rgba(0, 0, 0, 1), inset 0 0 20px 1px rgba(255, 255, 255, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096), inset 0 0 0 3px rgba(255, 255, 255, 0.3);
}

body.dark-mode .label::before {
  background-color: #fff;
  background-image: linear-gradient( 130deg, #ffffff 10%, #757272 11%, #726f6f 62% );
}

progress {
  transition: all 0.6s ease;
}

.button {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin-top: -20%;
  margin-left: 60%;
  font-size: 40px;
  font-weight: 200px;
}

.title-input {
  background-color: rgb(0, 0, 0, 0.2);
  width: 100%;
  font-size: 25px;
}

.content-input {
  background-color: rgb(0, 0, 0, 0.2);
  margin-top: 15px;
  width: 100%;
  height: 550px;
  font-size: 17px;
}

.add-page {
  border-radius: 25px;
  margin-left: 60%;
  margin-top: 30px;
}

body.dark-mode .title-input,
body.dark-mode .content-input {
  color: #f2f2f2;
}

.setting a {
  text-decoration-line: none;
  width: 100%;
}

.setting p {
  font-size: 25px;
}

.tools {
  margin-left: 5%;
  width: 70%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.tools a {
  text-decoration: none;
}